.wide{
	background-color: #ffffff;
}


.head{	
	font-family: Georgia, Times, "Times New Roman", serif;
	position: sticky;
	padding:23px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

hr {
	margin: 0px;

}
/*div{
	position: sticky;
    top: 0;
    }*/

.top{
	color: #ffffff;
	background-color: #4aaaa5;
	width: 10%;
	padding: 20px;
	font-size: 30px;
	display: inline;
}

a{
	text-decoration: none;
	font-size: 20px;
	float: right;
	padding-right: 20px;
	color: #dddddd;

	}



a:hover{
		color: #cccccc;
	}

a:visited{
		color: #cccccc;
	}

a:active{
		color: #888888;
		transform: translateY(4px);
	}

h1{
		color:#4aaaa5;
		font-size: 30px;
		font-family: Georgia, Times, "Times New Roman", serif;
		font-weight: bold;
		padding-left: 30px;
	}

body{


		background-color: #ddf0f0;
	}

.main {
	line-height: 25px;
		color: #777777;
		background-color: #ffffff;
		width: 960px;
		clear:both;
		margin-left: auto;
		margin-right: auto;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
	}

.inside {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
img{
	float: left;
	padding: 30px;
	padding-top: 0px;
}

section{
text-indent: 40px;
}

input {
	height: 20px;
	width: 900px;
}
















