.wide{
	background-color: #ffffff;
}


.head{	
	font-family: Georgia, Times, "Times New Roman", serif;
	position: sticky;
	padding:23px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

hr {
	margin: 0px;
}
/*div{
	position: sticky;
    top: 0;
    }*/

.top{
	color: #ffffff;
	background-color: #4aaaa5;
	width: 10%;
	padding: 20px;
	font-size: 30px;
	display: inline;
}

a{
	text-decoration: none;
	font-size: 20px;
	float: right;
	padding-right: 20px;
	color: #dddddd;

	}

h1{
		clear: both;
	}

a:hover{
		color: #cccccc;
	}

a:visited{
		color: #cccccc;
	}

a:active{
		color: #888888;
		transform: translateY(4px);
	}

h1{
		color:#4aaaa5;
		font-size: 30px;
		font-family: Georgia, Times, "Times New Roman", serif;
		font-weight: bold;
		padding-left: 30px;
	}

body{
		/*why is the header also included in this?*/
		background-color: #ddf0f0;
	}

.main {

		background-color: #ffffff;
		width: 960px;
		clear:both;
		margin-left: auto;
		margin-right: auto;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
	}

.inside {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}




















